/*------------------------------------*\
	Courses
\*------------------------------------*/
#courses {
    margin-top: 4rem;
}

@include media-breakpoint(up-lg) {
    #courses {
        margin-top: 10rem;
    }
}
.course-title{
    text-decoration: none;
    color: gray;
    font-size: .7rem;
    &:hover{
        text-decoration: none;
        color: #ffb606;
        transition: .2s all;
    }
}

.course {
    margin-top: 20px;
    margin-bottom: 20px;
}

.section-header {
    width: 100%;
}

.course .course-img {
    position: relative;
    display: block;
    margin-bottom: 20px;
    border-radius: 4px;
    overflow: hidden;
}

.course .course-img>img {
    width: 100%;
}

.course-img:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: #FF6700;
    opacity: 0;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
}

.course .course-img:hover:after {
    opacity: 0.7;
}

.course .course-img .course-link-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, calc(-50% - 15px));
    -ms-transform: translate(-50%, calc(-50% - 15px));
    transform: translate(-50%, calc(-50% - 15px));
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 50%;
    opacity: 0;
    z-index: 10;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.course .course-img:hover .course-link-icon {
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 1;
}

.course .course-title {
    display: block;
    height: 42px;
}

.course .course-details {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #EBEBEB;
}

.course .course-details .course-price {
    float: right;
}

.course .course-details .course-price.course-free {
    color: green;
}

.course .course-details .course-price.course-premium {
    color: #FF6700;
}

#courses .center-btn {
    text-align: center;
    margin-top: 40px;
    @include btn_more_about;
}




// @media only screen and (max-width: 480px) {
// 	/*-- Courses --*/
// 	#courses-wrapper [class*='col-xs'] {
// 		width:100%;
// 	}
// }