@mixin btn_Sign($bg-color, $color) {
    display: inline-block;
    background-color: $bg-color;
    border: 2px solid transparent;
    border-radius: 5px;
    color: $color;
    transition: 0.3s all;
    font-size: 1.3rem;
    text-align: center;
}